<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resultados Documentação</title>

    <link rel="stylesheet" href="../static/css/estilo.css" />
  </head>
  <body>
    <header>
      <div class="header_grid">
        <div id="header_name" class="header_card">
          <a href="/" class="C">Code<span>AI</span> Assistant</a>
        </div>
        <div id="header_hero" class="header_card">
          <span>Projeto Final - IA Generativa</span>
        </div>
      </div>
    </header>

    <main>
      <section class="container-documentacao">
        <h1 class="msg1">Documentação</h1>
        <h3 class="msg2">Aqui está a documentação para você baixar!.</h3>
        <div class="container-resposta">
          <h2 class="titulo-documentacao">
            Aqui estão os documentos gerados automaticamente pela análise da IA.
          </h2>

          <p class="texto-baixar-arquivo">
            - O README apresenta uma visão geral do projeto, incluindo
            tecnologias utilizadas, estrutura do sistema e instruções básicas de
            execução. Bom para colocar no GitHub.
          </p>
          <p class="texto-baixar-arquivo">
            - A documentação técnica descreve detalhadamente o funcionamento do
            software, explicando os objetivos do código, responsabilidades de
            cada componente, arquitetura da aplicação, funcionalidades
            implementadas e demais informações importantes para entendimento e
            manutenção do projeto.
          </p>

          <div class="botoes-download">
            <a href="/downloadReadme" class="botao-baixar-documentacao">
              <div class="titulos-botao">
                <p class="titulo">Baixar</p>
                <p class="subtitulo">README.md</p>
              </div>
              <img
                src="https://cdn-icons-png.flaticon.com/512/126/126488.png"
                alt="Baixar"
                class="botao-download"
              />
            </a>
          </div>
        </div>

        <div class="voltar-pagina">
          <a href="/analise"
            ><img
              src="https://cdn-icons-png.flaticon.com/512/66/66822.png"
              alt="Seta para a esquerda"
            />Voltar para a Análise
          </a>
        </div>
      </section>
    </main>

    <footer class="rodape">
      <div class="rodape-conteudo">
        <div class="nome-logo">
          <h2 class="C">Code<span>AI</span> Assistant</h2>
        </div>
        <p>Auxiliando você no seu aprendizado, com analises e correções!</p>

        <p>© 2026 CodeAI Assistant. Todos os direitos reservados.</p>
      </div>
    </footer>

    <script src="/static/js/script.js"></script>
  </body>
</html>
